<?xml version="1.0" encoding="UTF-8"?>
<!-- Marker file indicating CDI should be enabled -->
<beans bean-discovery-mode="all" version="1.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="         http://xmlns.jcp.org/xml/ns/javaee         http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd">


	<!-- 2 tane interfacede sadece bir tanesi calistirmak -->
	<alternatives>
		<class>com.hamitmizrak.a5.alternativex.Java18</class>
	</alternatives>

	<!-- interceptor yol kesici -->
	<interceptors>
		<class>com.hamitmizrak.b1.interceptorx._1_YolKesiciMethod</class>
	</interceptors>

	<!-- Decorator -->
	<decorators>
		<class>com.hamitmizrak.c1.decoratorx.DecoratorX</class>
	</decorators>
</beans>
